button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}


/*flex 布局*/

.flex {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}


/*垂直居中*/

.flex-box {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}


/*均匀分列每个子集元素间距*/

.flex-justify {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
}


/*水平居中*/

.flex-center {
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
}


/*设置子集元素垂直排列兼容*/

.flex-direction {
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
}