button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}


/*flex 布局*/

.flex {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}


/*垂直居中*/

.flex-box {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}


/*均匀分列每个子集元素间距*/

.flex-justify {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
}


/*水平居中*/

.flex-center {
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
}


/*设置子集元素垂直排列兼容*/

.flex-direction {
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='email'],
select,
textarea {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    padding: 4px 10px;
    line-height: 1.5;
    outline: none;
    box-sizing: border-box;
    color: #333;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='email']:focus,
select:focus,
textarea :focus {
    border-color: #1d7ce3;
    box-shadow: 0 0 0 2px rgba(29, 124, 227, .3);
}

select option {
    display: inline-block;
    line-height: 1.5;
    padding: 6px 12px;
}