body {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

.ls-layout {
    height: 100vh;
    width: 100vw;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
}


/*侧边栏*/

.ls-layout .ls-layout-slider {
    width: 200px;
    height: 100vh;
    border: none;
    background: #1f242a;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    opacity: 1;
    z-index: 9;
}

.ls-layout .ls-layout-slider .header {
    height: 50px;
    background: #2379d6;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    overflow: hidden;
}

.ls-layout .ls-layout-slider .header span {
    font-size: 24px;
}

.ls-layout .ls-layout-slider .searchbox {
    height: 30px;
    padding: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.ls-layout .ls-layout-slider .searchbox .fa {
    display: none;
}

.ls-layout .ls-layout-slider input {
    height: 16px;
    border: none;
    color: #999;
    background: rgba(0, 0, 0, .6);
    width: 160px;
    margin: 3px 6px;
    padding: 5px 10px;
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    border-radius: 4px;
}

.ls-layout .ls-layout-slider.contracted {
    width: 50px;
}

.ls-layout-slider.contracted .header span {
    -webkit-transition: width 300ms ease;
    transition: width 300ms ease;
    height: 0px;
    overflow: hidden;
}

.ls-layout-slider.contracted .searchbox input {
    width: 0px;
    padding: 0;
}

.ls-layout-slider.contracted .searchbox .fa {
    display: block;
    color: #b8c7ce;
    text-align: center;
    line-height: 36px;
}

.slider-menu {
    background: #222d32;
}

.slider-menu ul,
.slider-menu li {
    list-style: none;
    margin-left: 0px;
    padding: 0;
    margin: 0;
}

.slider-menu li ul {
    display: none;
    background: rgba(0, 0, 0, .25);
}

.slider-menu li ul li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.slider-menu ul li a {
    position: relative;
    display: block;
    padding: 6px 0px 6px 10px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    color: #b8c7ce;
}

.ls-layout-slider .expanded {
    display: block;
}


/*左侧菜单树*/

.slider-menu ul li a:hover {
    text-decoration: none;
}

.slider-menu li ul li a {
    padding: 6px 0px 6px 20px;
}

.slider-menu li ul li ul li a {
    padding: 6px 0px 6px 30px;
}

.slider-menu li ul li ul li ul li a {
    padding: 6px 0px 6px 40px;
}

.slider-menu ul li .node:hover {
    background: rgba(0, 0, 0, .2);
    color: #fff;
}

.selected {
    border-left: 3px solid #1d7ce3;
    background: rgba(0, 0, 0, .5);
}

.selected i,
.selected b,
.selected span {
    color: #fff;
}

.selected-hover {
    border-left: 3px solid #1d7ce3;
}

.slider-menu ul li .selected:hover {
    background: rgba(0, 0, 0, .2);
}

.slider-menu .expandable {
    position: absolute;
    right: 15px;
    line-height: 20px;
}

.ls-layout-slider.contracted .node-root span {
    display: none;
}

.ls-layout-slider.contracted .node-root b {
    display: none;
}

.ls-layout-slider.contracted .slider-menu .node-root {
    padding: 6px 0;
    text-align: center;
}

.ls-layout-slider.contracted .slider-menu .node-container-root {
    position: relative;
}

.ls-layout-slider.contracted .slider-menu .node-container-son {
    display: none;
    width: 150px;
    position: absolute;
    background: #1f242a;
    padding: 10px;
    padding: 10px;
    border-radius: 4px;
    left: 51px;
    top: 0;
}

.ls-layout-slider.contracted .slider-menu .node-container-root:hover .node-container-son {
    display: block;
}

.ls-layout .ls-layout-slider.contracted input {
    width: 0;
}

.ls-layout .layui-tab-title.contracted .node-container .slider-menu li ul {
    background: rgba(0, 0, 0, 0);
}


/*右侧内容*/

.ls-layout .ls-content {
    height: 100vh;
    flex: 1;
    position: relative;
}


/*头部*/

.ls-content header {
    height: 50px;
    background: #1d7ce3;
}

.nav-left .operate-item {
    color: #fff;
    display: block;
    width: 50px;
    text-align: center;
}

.nav-left .operate-item:hover {
    background: rgba(51, 51, 51, .1);
}

.nav-left .operate-item .ls-icon {
    font-size: 20px;
    line-height: 50px;
}


/*内容*/

.ls-content main {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 5px;
}

.ls-tab-container {
    position: absolute;
    top: 0px;
    left: 5px;
    right: 0px;
    bottom: 5px;
    overflow: hidden;
}

.ls-tab-container .header {
    height: 36px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 6px rgba(196, 199, 202, .35);
}

.ls-tab-container .ls-tab-titles {
    position: absolute;
    left: 39px;
    right: 39px;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
}

.ls-tab-container .ls-tab-contents {
    position: absolute;
    top: 40px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: hidden;
}

.ls-tab-container .ls-tab-titles .tab-title {
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0 15px;
    min-width: 30px;
    max-width: 200px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #f5f5f5;
}

.ls-tab-container .ls-tab-titles .tab-title .ls-icon-home {
    font-size: 20px;
}

.ls-tab-container .ls-tab-titles .tab-title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    display: block;
    height: 1px;
    width: 0%;
    margin: auto;
    background: rgba(29, 124, 227, 0.95);
    /* box-shadow: 0 0 6px rgba(29, 124, 227, 0.35); */
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    z-index: 7;
}

.ls-tab-container .ls-tab-titles .tab-title.active::after {
    width: 100%;
}

.ls-tab-container .ls-tab-titles .tab-title:hover::after {
    width: 100%;
}

.ls-tab-container .ls-tab-titles .tab-title:hover {
    background: rgba(238, 238, 238, .4);
    cursor: pointer;
}

.ls-tab-container .ls-tab-titles .tab-title.active {
    background: rgba(238, 238, 238, .6);
    background: rgba(238, 238, 238, .7);
    border-bottom: none;
    color: #1d7ce3;
}

.ls-tab-container .ls-tab-titles .tab-title .ls-icon-close {
    color: #999;
    font-size: 12px;
    padding: 1px;
    border-radius: 2px;
    margin-left: 5px;
}

.ls-tab-container .ls-tab-titles .tab-title .ls-icon-close:hover {
    background: #f39422;
    color: #fff;
}

.ls-tab-container .ls-tab-contents .tab-content {
    display: none;
}

.ls-tab-container .ls-tab-contents .tab-content.active {
    display: block!important;
}

.tab-operate {
    position: absolute;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px rgba(196, 199, 202, 0.35);
    z-index: 8;
}

.tab-operate .fa:hover {
    background: rgba(238, 238, 238, .6);
    cursor: pointer;
}

.tab-operate.tab-operate-left {
    left: 0;
}

.tab-operate.tab-operate-right {
    right: 0;
}

.tab-operate .fa {
    color: #666;
    font-size: 22px;
    line-height: 36px;
    width: 38px;
    display: inline-block;
}

.tab-operate-left .fa {
    border-right: 1px solid #e6e6e6;
}

.tab-operate-right .fa {
    border-left: 1px solid #e6e6e6;
}